/* General */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app {
  color: #292d32;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding: 2em !important;
}

@media (min-width: 768px) {
  .app {
    margin: 0 10vw;
  }
}
@media (min-width: 992px) {
  .app {
    margin: 0 20vw;
  }
}

main {
  padding-top: 4em !important;
}
.p-left {
  padding-left: 10px;
}
.custom-row {
  display: flex;
  flex-direction: row;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-size: 1.25em;
  line-height: 28px;
}
.header-menu {
  cursor: pointer;
}

/* EnterLocation */
.search-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #292d32;
  border-radius: 8px;
}
.search-bar {
  height: 100%;
  width: 80%;
  padding: 1em;
  line-height: 24px;
  border-radius: 8px 0 0 8px;
  border: none;
  appearance: none;
  outline: none;

  display: inline-block;
}
.search-btn {
  max-height: 52px;
  width: 20%;
  background: linear-gradient(#292d32, #090a0b);
  border: none;
  border-radius: 0 8px 8px 0;
  color: #ffffff;
  padding: 1em;
}
.search-btn span {
  margin: auto 0;
}
.search-error {
  font-size: 0.75em;
  font-weight: 300;
  margin-top: 1em;
  padding: 0 1em;
  text-align: center;
  transition: 0.05s;
  width: 100%;
}

/* Weather */
.weather-location {
  cursor: pointer;
}
.weather-location-city {
  font-size: 1.25em;
  font-weight: 600;
}
.weather-location-change {
  color: #295fa3;
}

.weather-current {
  margin: 8em 0;
}
.weather-current-temperature {
  font-size: 80px;
  line-height: 1em;
}
.weather-current-description {
  font-size: 1.25em;
  font-weight: 600;
  margin: 1em 0;
}
.weather-current-feels_like {
  display: flex;
  flex-direction: row;
}
.weather-current-icon {
  margin: auto;
  text-align: center;
}
.weather-current-icon img {
  height: 120px;
}

.forecast,
.settings-conainer {
  padding-bottom: 4em;
}
.forecast-tag {
  line-height: 28px;
  margin-bottom: 1.5em;
}

/* Settings */
.settings-group {
  padding-bottom: 1.5em;
}
.settings-group .row {
  padding: 0 1em;
}

.form-dropdown,
.form-check {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  line-height: 28px;
  padding: 6px 10px;
}

/* Footer */
footer {
  width: 100%;
}
.weather-last_updated,
.credits {
  font-weight: 300;
  font-size: 0.75em;
  text-align: center;
}
.credits span {
  font-weight: 600;
}
.github {
  color: #292d32;
}
.github:hover {
  color: #295fa3;
}
