html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app {
  color: #212529;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  padding: 0 !important;
  position: relative;
}

.header {
  padding: 25px;
  margin: 0 !important;
}
.header .col-11, .header .col-1 {
  padding: 0 !important;
}

  @media (min-width: 768px) {
    .app main, .header {
      margin: 0 10vw;
    }

    .header {
      padding: 50px 0;
    }
  }
  @media (min-width: 992px) {
    .app main, .header {
      margin: 0 20vw;
    }
  }

.header-title {
  font-size: 18px;
  line-height: 35px;
  margin: auto 0;
  padding: 0 !important;
}
.header-title, .search-error {
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 15px;
}

main {
  padding: 50px 25px 25px 25px !important;
}

.search-wrapper {
  border: 2px solid #212529;
  border-radius: 25px;
  margin: 0 !important;
  width: 100%;
}
  .search-wrapper:focus-within {
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
  }
.search-bar {
  background-color: #fff;
  border-radius: 25px 0 0 25px;
  height: 100%;
  margin: auto 0;
  padding: 16px;
  z-index: 1;

  appearance: none;
  border: none;
  outline: none;
}
.search-btn {
  background-color: #fff;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 16px;
}
.search-error {
  font-size: 14px;
  margin-top: 14px;
  text-align: center;
  transition: 0.05s;
  width: 100%;
}

.weather-location {
  cursor: pointer;
}
.weather-location-city {
  font-size: 20px;
  font-weight: 700;
}

.weather-current {
  margin: 75px 0;
}
.weather-current-temperature {
  font-size: 100px;
  font-weight: 300;
  line-height: 1em;
}
.weather-current-description {
  font-size: 32px;
  font-weight: 700;
}
.weather-current-icon {
  margin: auto;
  text-align: center;
}
.weather-current-icon img{
  height: 120px;
}

.forecast {
  padding: 40px 0;
}
.forecast .row {
  margin-bottom: 20px;
}
.forecast-tag {
  margin-bottom: 10px;
}
.forecast-unit {
  line-height: 50px;
}

.settings-group {
  padding-bottom: 25px;
}
.settings-group .row {
  padding: 0 15px;
}

.form-check {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
  padding: 5px 10px;
}

footer {
  bottom: 0;
  padding: 5px;
  position: absolute;
  width: 100%;
}

.weather-last_updated, .credits {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.credits span {
  font-weight: 700;
}